body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #b0b0b0;}

th {
    background-color: #4CAF50;
    color: white;
}

table, th, td {
    border: 0px solid black;
    font-size: 90%;
 }

 table {
    width: 100%;
}

input[type='submit'] {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid #3CAF50;
    font-size: 15pt;
    font-weight: bold;
}

input[type='submit']:hover {
    background-color: #3CAF50;
    color: white;
}

a:link, a:visited {
    color:  black;
    font-weight: bold;
    background-color: white;
    border: 2px solid #3c9caf;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #3c9caf;
    color: white;
}

