{% extends 'base.html' %}

{% block content %}
<h1>Settings</h1>
<form action='' , method='post' , name='login'>
    <p>
        Please enter id or domain:<br>
        {{form.user_id(size=57)}}<br>
    </p>
    <p>
        Start from (dd:mm:yyyy H:M):
        {{form.from_time}}
    </p>
    <p>{{form.post_id}} Post_id</p>
    <p>{{form.text}} Text</p>
    <p>{{form.pins}} Attachments</p>
    <p>{{form.num_of_pins}} Number of attachments</p>
    <p>{{form.num_of_likes}} Number of likes</p>
    <p>{{form.num_of_reposts}} Number of reposts</p>
    <p>{{form.num_of_comments}} Number of comments</p>
    <p>Latency. Warning! Non zero value may slow down the download process.<br>
        {{form.latency}} Use this form if error 13 occurred. 0.34 is recommended.
    </p>
    <p><input type='submit' value='Download'></p>
</form>
{% endblock %}