{% extends 'base.html' %}

{% block content %}


<h1>Statistic options:</h1>
<form action='' , method='post' , name='Statistic'>

    <p>{{form.head}} Head</p>
    <p>{{form.describe_table}} Overall statistic table</p>
    <hr>
    <p>{{form.plot_type}} Plot type</p>
    <p>{{form.time_interval}} Time intervals</p>
    <p>{{form.is_mean}} Mean/total values</p>
    <p>Data to visualize. If you haven't choose to download respective attributes before, they don't appear on the
        plot.</p>
    <p>{{form.num_of_pins}} Number of attachments</p>
    <p>{{form.num_of_likes}} Number of likes</p>
    <p>{{form.num_of_reposts}} Number of reposts</p>
    <p>{{form.num_of_comments}} Number of comments</p>
    <p><input type='submit' value='Show'></p>
</form>

{% if stats %}
{% for stat in stats %}

{stat|safe}

{% endfor %}
{% endif %}

{% endblock %}