{% extends 'base.html' %}

{% block content %}


{% if stats %}
{% for stat in stats %}

{% if stat.title == '<h2>Plot</h2>' %}

{{stat.title|safe}}
<img src='{{ stat.content }}' alt='Image Placeholder'>
{% else %}

{{stat.title|safe}}
{{stat.content|safe}}

{% endif %}
<hr>

{% endfor %}
{% endif %}

{% endblock %}